<ion-header class="no-background">
    <ion-toolbar>
        <ion-buttons  style="position: absolute;top: 10px;left: 5px;">
            <ion-back-button defaultHref="/my-profile" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="m-width mb-2" #f="ngForm" (ngSubmit)="changePassword(f)">
        <ion-list>

            <ion-item lines="none" class="form-group">
                <label>
          <ion-label>Current password</ion-label>
          <ion-input type="password" class="form-control" name="password" ngModel></ion-input>
        </label>
            </ion-item>

            <ion-item lines="none" class="form-group">
                <label>
          <ion-label>New password</ion-label>
          <ion-input type="password" class="form-control" name="new_password" ngModel></ion-input>
        </label>
            </ion-item>

            <ion-item lines="none" class="form-group">
                <label>
          <ion-label>Confirm password</ion-label>
          <ion-input type="password" class="form-control" name="new_password_confirmation" ngModel></ion-input>
        </label>
            </ion-item>

            <ion-item lines="none" class="form-group submit-btn mb-1">
                <ion-button type="submit" class="btn" routerLink="" color="primary">
                    Update
                </ion-button>
            </ion-item>

            <ion-text class="text-center mb-0">
                <a routerLink="/my-profile" class=" no-line">Cancel</a>
            </ion-text>

        </ion-list>
    </form>
</ion-content>