<ion-header class="color">
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item routerLink="/my-profile/">
            <ion-label>My Profile
            </ion-label>
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-item>
        <ion-item routerLink="/account-setting/">
            <ion-label>Account Setting</ion-label>
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-item>
        <ion-item routerLink="/help/">
            <ion-label>Help</ion-label>
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-item>
        <ion-item routerLink="/terms/">
            <ion-label>Terms and Conditions</ion-label>
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-item>
        <ion-item routerLink="/privacy-policy/">
            <ion-label>Privacy Policy</ion-label>
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-item>
        <ion-item (click)="logout_Confirmation()">
            <ion-label>Logout</ion-label>
            <ion-icon slot="end" name="log-out-outline"></ion-icon>
            <!-- <ion-icon slot="end" name="arrow-forward-outline"></ion-icon> -->
        </ion-item>
    </ion-list>
</ion-content>