ion-content {
    --background: transparent;

    figure{
        margin: 0 0 10px;

        img{
            max-width: 95px;
        }
    }

    .auth-section h2{
        margin-bottom: 5px;
    }
}