<ion-header class="no-background">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="pa-0">
    <div class="auth-section">
        <figure>
            <img src="/assets/forgot-password-icon.png">
        </figure>
        <h2>
            Forgot Password?
        </h2>
        <p>Enter email address to send reset code</p>

        <div class="auth-box no-background mb-0">
            <form class="m-width" #f="ngForm" (ngSubmit)="forgotPassword(f)" (keyup.enter)="forgotPassword(f)">
                <ion-list>

                    <ion-item lines="none" class="form-group">
                        <label>
              <ion-label>Email</ion-label>
              <ion-input type="email" class="form-control" name="email" ngModel></ion-input>
            </label>
                    </ion-item>

                    <ion-item lines="none" class="form-group submit-btn mb-0">
                        <ion-button type="submit" class="btn" color="primary">
                            Send
                        </ion-button>
                    </ion-item>
                </ion-list>
            </form>

        </div>

    </div>
</ion-content>